option_settings:
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: COMPOSER_HOME
    value: /symfony
  - namespace: aws:elasticbeanstalk:container:php:phpini
    option_name: document_root
    value: /symfony/web

container_commands:
  01_reload_nginx:
    command: "sudo service nginx reload"

files:
  "/etc/nginx/conf.d/01_proxy.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      server {
          listen 80;
          server_name _ localhost;
          # root /var/www/symfony/web;


          location / {
              try_files $uri @rewriteapp;
          }

          location @rewriteapp {
              rewrite ^(.*)$ /app.php/$1 last;
          }

          location ~ ^/(app|app_dev|config)\.php(/|$) {
              fastcgi_pass php-upstream;
              fastcgi_split_path_info ^(.+\.php)(/.*)$;
              include fastcgi_params;
              fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
              fastcgi_param HTTPS off;
          }

          error_log /var/log/nginx/symfony_error.log;
          access_log /var/log/nginx/symfony_access.log;
      }
