commands:
  01updateComposer:
    command: export COMPOSER_HOME=/symfony

option_settings:
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: COMPOSER_HOME
    value: /symfony
  - namespace: aws:elasticbeanstalk:container:php:phpini
    option_name: document_root
    value: /symfony/web
