<div class="content">
  <h1 class="title">URL Shortener</h1>
  <form class="url-form">
    <input class="input url-input" type="text" placeholder="Your URL">
    <button class="button url-button">Shorten</button>
    <div class="custom-url-group">
      <div class="custom-url-wrapper">
          <input class="input custom-url-input" type="text" placeholder="AAAAA">
      </div>
      <label class="custom-url-label"><input type="checkbox">Custom URL</label>
    </div>
    <div class="message"></div>
  </form>
</div>

