.content {
  max-width: 1000px;
  height: 100%;
  margin: auto;

  display: flex;
  flex-flow: column;

  align-items: center;
  // justify-content: center;

  background-color: #fff;
  box-shadow: 0 22px 70px rgba(14,21,47,.4), 0 8px 30px rgba(14,21,47,.4);
}

.title {
  margin-top: 10vmin;
  margin-bottom: 20vmin;

  font-size: 3em;
  letter-spacing: .2em;
  text-align: center;

  color: #636363;
}

@media (max-width: 768px) {
  .title {
    font-size: 2em;
  }
}
