  <form class="url-form">
    <input class="input url-input" type="text" placeholder="Paste your URL"
           [(ngModel)]="fullUrl" name="fullUrl" autofocus>
    <button type="button" class="button url-button"
            *ngIf="!urlCreated" (click)="shorten()">
      Shorten
    </button>
    <button type="button" class="button url-button"
            *ngIf="urlCreated"
            ngxClipboard [cbContent]="fullUrl"
            (cbOnSuccess)="message = 'URL copied to buffer'">
      <i class="fa fa-copy"></i> Copy!
    </button>
    <div class="custom-url-group" *ngIf="!urlCreated">
      <div class="custom-url-wrapper">
        <div class="custom-url-desc" *ngIf="useCustomUrl">
          Short URL length must be {{params.length}} and contain only letters
          <span *ngIf="params.use_digits"> and digits</span>
          .
        </div>
        <input class="input custom-url-input" type="text" placeholder="AAAAA"
               *ngIf="useCustomUrl" [(ngModel)]="customUrl" name="customUrl">
      </div>
      <div class="custom-label-wrapper">
        <label class="custom-url-label">
          <input type="checkbox"
                 [(ngModel)]="useCustomUrl" name="useCustomUrl">
          Custom URL
        </label>
      </div>
    </div>
    <div class="message" [class.msg-success]="urlCreated">{{message}} <span *ngIf="message">!</span></div>
    <div class="result" *ngIf="urlCreated">
      <div class="result-short-url"><a href="{{resultShortUrl}}">{{resultShortUrl}}</a></div>
      <div class="result-full-url">{{originalUrl}}</div>
      <div class="result-views"><i class="fa fa-bar-chart"></i> 0 views</div>
      <div class="result-details"><a [routerLink]="[customUrl, 'info']">Go to info</a></div>
    </div>
  </form>
